html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: serif;
}

body {
    background: var (--color-bg);
    background: #d09292;
    color: #550000;
}
