.main-header {
            background: #5f0010;
            display: flex;
            padding: 1;
            animation: HeaderAnim 1s;
        }

        .main-header-icon {
            background: #a81616;
            width: clamp(1rem, 5vw, 3rem);
            height: clamp(1rem, 5vw, 3rem);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            overflow: hidden;
        }

        .main-header-icon img {
            background: #af0000;
            width: 200%;
            text-align: center;
        }

        .main-nav {
            background: var(--color-surface);
            flex-grow: 1;
            display: flex;
            gap: 16px;
            margin-top: 1%;
            margin-bottom: 1%;
        }

        .main-nav a {
            text-decoration: none;
            flex-grow: 1;
            font-size: 1.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            color: #330000;
        }

        .main-nav a:hover {
            background: #951b1b;
        }

        .main-header-h1 {
            background: #950000;
            text-align: center;
            font-size: clamp(1rem, 5vw, 3rem);
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1%;
        }

        .main-nav-dropdown {
            display: none;
        }

        .main-nav-dropdown:hover + .main-nav {
            display: block;
            position: absolute;
        }
        
        .main-nav-box{
                position: relative;
                flex: 1;
                display: flex;
                justify-content: center;
            }
        
        @keyframes HeaderAnim{
            0%{
                opacity: 0;
            }
            100%{
                opacity: 100%;
            }
        }

        @media (max-width: 480px) {
            
            .main-nav {
                display: none;
                top: 100%;
            }

            .main-nav-dropdown {
                display: block;
                font-size: 3rem;
                color: var(--color-text);
                flex: 1;
                text-align: center;
            }

            .main-nav-dropdown:active + .main-nav {
                display: block;
            }
            
            .main-nav-dropdown:focus-within .main-nav {
                display: block;
            }
        }