.hero {
            height: 600px;
            position: relative;
        }
        .hero-bg{
            width: 100%;
            height: 100%;
            overflow: hidden;
            background: linear-gradient(45deg, #600d0d,#ffb6f9);
            position: absolute;
            z-index: -1;
        } 
        .hero-fg {
            height: 100%;
            display: flex;
            width: 100%;
        }

        .hero-right {
            display: flex;
            width: 50%;
            flex-direction: column;
        }

        .hero-fg-text {
            width: 100%;
            height: 100%;
            color: #d1c0ff;
            padding: var(--space-m);
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
        }
        .hero-fg-h2{
            font-size: 2.5rem;
            
        }
        hero-fg-p{
            font-size: 2rem;
        }
        .hero-fg-btns {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
        }
        .hero-fg-pbtn{
            color: #ffffff;
            background: none;
            padding: var(--space-m);
            text-align: center;
            text-decoration: none;
            font-size: 1.25rem; 
        }
        .hero-fg-sbtn{
            color: #ffffff;
            background: none;
            padding: var(--space-m);
            text-align: center;
            text-decoration: none;
            font-size: 1.25rem; 
        }
        .hero-fg-imgs {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            position: relative;
        }
        .hero-fg-img-1{
            position: absolute;
            margin-top: 50px;
            margin-right: 215px;
            z-index: 2;
            width: 30%;
            height: 70%;
            background: pink;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .hero-fg-img-2{
            position: absolute; 
            width: 70%;
            height: 30%;
            background: pink;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        .hero-fg-box{
            position: absolute;
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 40px;
            width: 30%;
            height: 55%;
            background: #d1c0ff;
            display: flex;
            justify-content: center;
            align-items: center;
        }